@model IEnumerable<CodeFirstapproach_CrudApp.Models.StudentModel>

@{
    ViewData["Title"] = "Home";
}

<h1 class="fs-1 font-monospace .text-nowrap">Home</h1>

<p>
    <a asp-action="Create" class="text-decoration-none  btn btn-success ">Create New</a>
</p>
@if (TempData["created"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully!</strong>@TempData["created"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["edited"] != null)
{   
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully!</strong>@TempData["edited"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
@if (TempData["deleted"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully!</strong>@TempData["deleted"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table class="table table-hover table-success table-striped  table-bordered">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
          
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning ">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary  ">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
